@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,700;0,800;1,200;1,300&display=swap');


:root{
    --cor-linhas: rgba(180, 180, 180, 0.703);
    --h2-heading-size: 2.2rem;
    --h3-heading-size: 1.3rem;
    --h3-letspacing-size: 0.15rem;
}


*{
    font-family: 'Karla', arial, sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style-type: none;
    border: none;
}

img{
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

html, body{
    position: relative;
    width: 100vw;
    height: 100%;
    color: black;
}


/* Config Header: */
header{
    display: block;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid var(--cor-linhas);
    width: 100%;
    height: 10%;
    min-height: 70px;
    z-index: 100;
}

/* _container */
.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 5px;
    padding-right: 5px;
}
/* _icon */
i#menu-icon{
    display: none;
}
/* _general */
.nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20%;
}

/* _Navbar Links */
.navbar{
    margin-right: auto;
    display: block;
    flex-grow: 2;
}
.navbar li{
    font-size: 1.3rem;
    display: inline-block;
    position: relative;
}
.navbar a{
    display: block;
    color: black;
    font-weight: 500;
    padding: 1px 10px;
}
.navbar > li > a:hover{
    color: rgb(97, 97, 97)
}
/* __Navbar Dropdown */
.dropdown{
    display: none;
    position: absolute;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 10px;
    border-right: 1px solid var(--cor-linhas);
    border-bottom: 1px solid var(--cor-linhas);
    border-left: 1px solid var(--cor-linhas);
    border-radius: 4px;
    width: 100%;
    z-index: 999;   
}
.dropdown li{
    display: block;
    padding: 2px;
    margin: 0 auto;
}
.dropdown a{
    font-size: 1rem;
}
.navbar li:hover .dropdown{
    display: block;
}
.dropdown a:hover{
    text-decoration: underline;
}
.active{
    border-bottom: 2px solid black;
    border-radius: 3px;
}
.sub-active > a{
    color: brown;
}

/* __logo */
.logo-container{
    max-width: 120px;
    height: 90%;
    overflow: hidden;
}
.logo-container > a > img{
    flex-shrink: 0;
    object-fit: fill;
}


/* Config. Home: */
.home{
    display: flex;
    align-items: center;
    background: white url('../images/backgrouns/home-page-background.jpg') no-repeat right bottom / cover;
    padding: 4rem 0 2rem 4rem;
    margin: auto;
    padding-top: 4vh;
    max-width: 1300px;
    width: 100vw;
    height: 90%;
}
.home-text h1{
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 800;
}
.home-text p{
    font-size: 1.2rem;
    margin-bottom: 1.2rem; 
    font-weight: 300;

}
.home-text span{
    color: rgb(161, 161, 161);
}
/* _Config Button */
.btn{
    font-size: 1.4rem;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid var(--cor-linhas);
    color: black;
    transition: 0.3s;
}
.btn:hover{
    border-radius: 0;
    background-color: var(--cor-linhas);
    transition: 0.3s;
}


/* Config Biju/Conjuntos: */
.item-section{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}

/* _Heading */
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-top: 13vh;
}
.heading h2{
    font-size: var(--h2-heading-size);
}
.heading h3{
    font-size: var(--h3-heading-size);
    letter-spacing: var(--h3-letspacing-size);
}
.heading h4{
    font-weight: 400;
}
.heading a{
    color: black;
    text-decoration: underline;
}

/* _Items */
.item-container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.3rem;
    justify-content: space-around;
}

/* __Items Display */
.item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}
.item-img{
    width: 300px;
    height: 350px;
}
.item-img img{
    object-fit:cover;
    border: 1px solid transparent;
}
.item-img img:hover{
    scale: 1.03;
    border: 1px solid var(--cor-linhas);
    transition: 0.2s;
}
.item-desc{
    display: block;
    text-align: center;
    border: 1px solid var(--cor-linhas);
    width: 100%;
    padding: 5px 0;
}

/*_Popup Image*/
.popup-image{
    display: flex;
    align-items: flex-start;
    justify-content:center;
    background-color: rgba(0, 0, 0, .9);
    padding-top: 35px;
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    height: 90%;
}
.popup-image img{
    display: block;
    width: fit-content;
    height: 90%;
    object-fit:contain;
    border-radius: 10px 0 10px 10px;
}
.popup-image > span{
    display: block;
    font-size: 3.5rem;
    color: white;
    position: absolute;
    top: -0px;
    right: 30px;
    height: fit-content;
    z-index: 100;
    text-shadow: 1px 1px 5px black;
    cursor: pointer;
}

/* __Popup descrição */

.popup-descricao{
    background-color: white;
    width: 30%;
    height: fit-content;
    padding-bottom: 25px;
    padding-top: 20px;   
    border-radius: 0 10px 10px 0;
}
.popup-descricao h1{
    text-decoration: underline;
    text-underline-offset: 5px;
    font-weight: normal;
}
.popup-descricao ul{
    margin-top: 20px;
}
.popup-descricao li{
    margin-top: 20px;
}
.popup-descricao li span{
    padding: 5px;
    margin-left: 10%;
    width: 80%;
    text-align: center;
    font-size: 2.2rem;
    background-color: rgb(189, 148, 2);
    border-radius: 10px;
    cursor: pointer;
    border: 1.5px solid transparent;
}
.popup-descricao li span:hover{
    border: 1.5px solid black;
    background-color: rgba(189, 148, 2, 0.572);
}
/* ___Cor do artigo */
.corItem{
    display: flex;
    gap: 0.5rem;
}
/* ____dourado */
.corDourado{
    display: inline-block;
    border-radius: 50%;
    background-color: #d1a465;
    width: 20px;
    height: 20px;
}

@media (max-width:768px){
    .popup-image img{
        width: 90%;    
    }   
}


/* __pub interna */
.pub-interna{
display: block;
background: black;
margin:  3rem auto 0 auto;
width: 98.5%;
height: 70vh;  
}

/* Nav Pages: */
.nav-pages{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 3rem; 
    margin-top:1rem ;
    margin-bottom: 1rem;
    width: 100%;
}

/* _Setas */
.nav-pages a span{
    color: black;
    border: 1px solid transparent;
    padding: 5px;
    border-radius: 50%;
}
.nav-pages  a:first-child  span{
    visibility: hidden;
}
    
.nav-pages a span:hover{
    border: 1px solid rgb(102, 102, 102);
    background-color: rgb(226, 226, 226);
}

/* _Botão Carregar Mais */
.nav-pages input{
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: var(--cor-linhas);
    border: none;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    width: 25%;
    cursor: pointer;
}
.nav-pages input:hover{
    border: 1px solid rgb(102, 102, 102);
    background-color: rgb(226, 226, 226);
}


/* Footer: */
footer{
    display: grid;
    grid-template-columns: 1.2fr repeat(3 , 1.2fr);
    grid-template-rows: minmax(100px , 1.3fr) minmax(50% , 2fr);
    grid-template-areas: 
        'logo logo logo logo'
        'duvidas apoio loja contacto';
    align-items: start;

    padding: 10px;
    background-color: black;
    width: 100%;
    height: 40%;
    min-height: fit-content;
}

/* _títulos */
footer h3{
    font-size: 1.5rem;
    color: white;
    cursor:default;
}

/* _Links */
footer a{
    font-weight: 200;
    color: white;
}
footer a:hover{
    text-decoration: underline;
}
footer li{
    padding-top: 10px;
}

/* _icon */
footer span{
    color: white;
}

/* _Logo */
.logo-footer{
    display: block;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: left;
    object-fit: contain;
    width: 36%;
    min-width: 100px;
    height: 90%;
    min-height: 100px;  
    overflow: hidden;
}
.logo-footer img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/* _Config Duvidas */
.duvidas{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-area: duvidas;
    padding-left: 10px;

}
.duvidas input{
    font-size: 1rem;
    padding: 5px;
    width: fit-content;
    cursor: pointer;
}

/* _Config Smedia Logos */
.smedia-footer{
    display: flex;
    justify-content: flex-start;
    gap: 2.6rem;
    width: fit-content;
    min-height: fit-content;
}
.smedia-footer a{
    width: 15%;
    height: fit-content;
    object-fit: contain;
}

/* _Config Apoio Cliente */
.apoio-footer{
    grid-area: apoio;
}


/* _Config A Loja */
.loja-footer{
    grid-area: loja;
}

/* _Config Contacto */
.contacto-footer{
    grid-area: contacto;
}
.contact-links{
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
}

#back-top-btn{
    display: block;
    opacity: 0;
    position: fixed;
    z-index: 100;
    right: 3%;
    bottom:5%;
    color: white;
    background-color: rgba(0, 0, 0, 0.901);
    border-radius: 20%;
    font-weight: bold;
    padding: 2px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

#back-top-btn.show{
    opacity: 1;
}